@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import '~bootstrap';
@import 'variables';

*{
    list-style: none;
}
body{
    font-family: $fontFamily;
    color: $mainColor;
    font-weight:800;
    background: $manBg;
}

.top-bar{
    li{
    // padding:30px;
    vertical-align: middle;
    height: 80px;
    border-right-width: 2px;
    line-height: 80px;
    padding: 0 41px;
        a{
            color: #9f9f9f;
            text-decoration: none;

        }
        a.contact-us{
            border-radius: 40px;
            background-color: $mainColor;
            color: #fff;
            font-size: 28px;
            font-weight: bold;
            padding: 20px 46px;
        }
    }
}

nav {
    ul {
        li{
            margin-right: 55px;
            a{
                font-family: $fontFamily;
                font-size: 25px;
                font-weight: 600;
                text-align: center;
                color:#7b7b7b;
                         }
        }   
    }
}